:root {
  --heading: #323747;
  --cl_text: #68686a;
  --graphics: #bdc1ca;
  --accsent_green: #61c15c;
  --accsent_orange: #db5e31;

  --bg_orange: #fef3ef;
  --bg_green: #f4fbf4;
  --bg_default: #ffffff;

  --font-h1: 700 52px Inter;
  --font-h2: 700 40px Inter;
  --font-h3: 700 24px Inter;
  --font-h4: 400 24px Inter;

  --font-body: 400 18px Inter;
  --font-small: 400 14px Inter;
}
