.blog-page .submit-btn {
  min-width: 276px;
}

.cancel-form-btn {
  background-color: var(--bg-default);
  border-color: var(--accent-green);
}
/*чтоб скрывать форму*/
/* #article-form{
  opacity: 100%;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
} */
