.articles a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 16px 40px;
    color: var(--accsent_green);
    text-decoration: none;
    font: var(--font-h4);
    border: 1px solid var(--accsent_green);
    border-radius: 5px;
} 

.article-even {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.article-odd {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}


.article-odd .article-content {
  direction: ltr;  
}

.articles img {
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
}

