body.blog-page .articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  margin: 40px 0;
}

body.blog-page .blog-article {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

body.blog-page img:not(.about-image-overlay),
.article-content img:not(.about-image-overlay) {
  order: 1;
  min-width: auto;
  max-width: 100%;
  margin: 0;
}

body.blog-page .articles-grid .blog-article:first-child {
  grid-column: span 3;
   flex-direction: row-reverse;
  align-items: center;
  min-height: 400px;
}
