.career-section {

}

.two-column-layout{
  display: flex;
  gap: 60px;

} 

.main-content {
flex: 1;
}

.main-content h2 {
  margin-bottom: 24px;
}

.main-content h3 {
  margin-bottom: 16px;
}

.main-content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.list-content {
  flex: 1;
  margin-top:calc(49px + 24px);
}

.list-content h3 {
  font: var(--font-h3);
  margin-bottom: 40px;
}

.list-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  position: relative;
}


.list-item img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}


.list-item h4 {
  font: var(--font-h4);
  margin-bottom: 12px;
}

.list-item p {
  font: var(--font-small);
  line-height: 1.6;
  margin-top:5px;
  margin-bottom:90px;
}

.list-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--graphics);
}
